@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;

}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
    margin-bottom: 60px;
}

footer {
    padding: 24px 24px;
    width: 100%;
    background-color: #B4CF66;
    position: relative;
    bottom: 0;
}

img {
    height: 200px;
    margin-top: 20px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A33;
    color: white;
}

a {
    text-decoration: none;
}

nav>a {
    color: white;
    font-weight: bold;
}

.grid a{
    color: #007F00;
}

a:hover {
    color: #00FF00;
    font-size: larger;
}

.grid{
    display: grid;
    height: auto;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(2 500px);
}

.item1 {
    grid-column: 1 / span 1;
}

.item2 {
    grid-area: 1 / span 1;
}

.item3 {
    grid-area: 1 / span 1;
}

.item4 {
    grid-area: 1 / span 1;
}

.item5 {
    grid-area: 1 / span 1;
}

.alternate-shade>:nth-child(2n) {
    background-color: lightgrey;
}
